*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100vh;
    width: 100vw;
}

.main-dash {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.dash {
    min-width: 20vw;
    min-height: 40vh;
}

.dash, .small-dash {
    background-color: rgba(162, 156, 156, 0.263);
    border-radius: 10px;
    padding: 0.8rem;
    text-align: center;
}

.svg-rotate {
    height: 70%;
}

#notesInput {
    padding: 0.5rem;
    resize: none;
    margin: 1rem;
    width: 80%;
    height: 80%;
}

#weather {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#desc::first-letter {
    text-transform: capitalize;
}

#loc {
    font-size: 1.2rem;
}

#add-link {
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1.2rem;
    background-color: rgb(171, 169, 169);
    border: 0;
    width: 70%;
    color: white;
    align-self: center;
}

#add-link:hover {
    color: rgb(217, 214, 214);
}

.plus-svg {
    height: 0.8rem;
}

#links, .hidden-section {
    display: flex;
    flex-flow: column wrap;
    gap: 0.3rem;
}

#links input {
    width: 50%;
    align-self: center;
}

#submit {
    width: 40%;
    padding: 0.2rem;
    margin: 0.2rem;
    align-self: center;
}

.hidden {
    display: none;
}

.user-link {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    align-self: center;
}

.delete-btn {
    border-radius: 10px;
    padding: 0.2rem;
    background-color: rgb(139, 137, 137);
    border: 0;
    width: 25%;
    color: white;
    align-self: center;
}

.delete-btn:hover {
    color: rgb(165, 161, 161);
}

#bored p {
    padding: 1rem;
}

#bored {
    width: 20%;
}

#random {
    font-weight: bold;
}

#update {
    margin: 1rem;
    width: 20%; 
}

#update:hover {
    opacity: 80%;
}